#jeopardy {
  text-align: center;
  font-size: 9pt;
  background-color: #060ce9;
  color: white;
  border-collapse: collapse;
  align-self: center;
  position: relative;
}

#jeopardy th, #jeopardy td {
  border: solid 1px white;
  width: 12em;
  padding: 1em;
}

th {
  text-transform: uppercase;
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  height: 4em;
  text-shadow: darkgoldenrod 1px 1px;
}

td {
  height: 9em;
  font-family: Copse, serif;
}

td:hover {
  cursor: pointer;
  background-color: rgb(19, 19, 252);
}

#spinner {
  font-size: 50px;
  max-width: 50%;
}

div#tablewrap {
  position: relative;
}
div#aligned {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  position: relative;
}

#restart {
  position: absolute;
  display: none;
  background-color: rgb(71, 71, 71);
  border: 2px solid white;
  color: white;
  text-align: center;
  border-radius: 50%;
  padding: 13px;
  cursor: pointer;
  z-index: 2000;
  top: -50px;
  right: 0px;
  opacity: 1;
}
#restart:hover {
  background-color: rgb(112, 112, 112)
}
